/* * {
	background-color: brown;
	color: #FFF;
} */

h1 {
  font: 35px "Roboto", sans-serif;
  /* font-family:'Roboto', sans-serif;
	font-size: 35px; */
}

p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

p span {
  font-weight: bold;
}

.intro {
  /* CLASS */
  background-image: url(../img/coding-job.png);
  background-color: green;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
}

.text-white {
  color: #fff;
}

.intro h1 {
  color: #fff;
  border-top: dashed;
  border-left: solid;
  border-right: solid;
  border-bottom: dashed;
  padding-top: 20px;
  padding-bottom: 20px;
}

.intro > p {
  color: #fff;
  font-size: 20px;
}

.intro button {
  background-color: #e25e3b;
  color: #fff;
  border-width: 5px;
  border-top: dotted;
  border-bottom: dashed;
  border-left: solid;
  border-right: solid;
  border-radius: 15px;
  margin-left: 20px;
}

.intro img {
  margin-top: 120px;
}

.links h1 {
  font-weight: bold;
  text-shadow: 3px 2px #000;
}

.links {
  padding: 30px;
  background-color: #2c363f;

  /* Text Formatting */
  color: #fff;
  text-align: justify;
}

ol {
  background: #09944e;
  padding: 20px;
  list-style-position: inside;
  list-style-image: url(list.png);
  background-size: 40px;


}

ol li {
  background: #021;
  padding: 5px;
  margin-left: 35px;
}
