/* * {
	background-color: brown;
	color: #FFF;
} */

h1 {
	font: 35px 'Roboto', sans-serif;
	/* font-family:'Roboto', sans-serif;
	font-size: 35px; */
}

p {
	font-family:'Roboto', sans-serif;
	font-style: italic;
}

p span {
	font-weight: bold
}

.intro {
	/* CLASS */
	background-color: green;
} 

.text-white {
	color:#FFF;
}

.intro h1 {
	color:red;
}

.intro > p {
	font-size:40px;
}

#intro {
	/* ID */
	/* background-color: blue;
	color:white; */
}

