* {
  font-family: "Roboto", sans-serif;
  background-color: rgb(218, 218, 218);
  color: #fff;
  text-align: center;
}

header, section, aside, footer {
  margin: 0;
  padding: 20px;
  border: 1px solid #000000;
}

header {
  background: #03a9f4;
}

.menu {
  background: #d22b1f;

  /* Flex */
  flex-basis: 200px;
}

.content {
  background: #129a22;
  flex-grow: 1;
  
}

aside {
  border: 1px solid #000000;
  background: #673ab7;

  /* Flex */
  flex-basis: 200px;
}

footer {
  border: 1px solid #000000;
  background: #616161;
}

/* Flex */
.flex-container {
  display: flex;
  height: 400px;
}