* {
  font-family: "Roboto", sans-serif;
}

/* Utilities */
.mt-5 {
  margin-top: 50px;
}

.float {
  padding: 30px;
  /* height: 220px; */
  overflow: auto;

  background-color: #2c363f;
  color: #fff;
  text-align: justify;
}

.float>img {
  float: left;
  padding: 10px;
  margin-right: 20px;
  background-color: #ff5722;
}

#float-example>div {
  text-align: center;
  width: 100px;
  padding: 20px 0;
  margin-bottom: 10px;
  float: right;
}

.green {
  background: #6aff6aad;
}

.red {
  background-color: #ff7373;
}

.blue {
  background-color: skyblue;
}

.purple {
  background-color: #ff88ff;
}

.yellow {
  background-color: yellow;
}

.brown {
  background-color: #ff7575;
}

.clearboth {
  clear: both;
}

.weblayout-example>div {
  padding: 20px 0;
  margin: 5px 0;
  text-align: center;
}

.text-center {
  text-align: center;
}

.navbar {
  background-color: #4caf50;
}

.menu {
  float: left;
  background: #3f51b5;
  width: 33.33%;
  height: 200px;
}

.content {
  float: left;

  width: 33.33%;
  height: 200px;
  background-color: #00bcd4;
}

.sidebar {
  float: left;
  width: 33.33%;
  ;
  height: 200px;
  background: #ff9800;
}

.footer {
  clear: both;
  background-color: tomato;
}