* {
  font-family: "Roboto", sans-serif;
}

body {
  counter-reset: videos;
}

/* Utilities */
.mt-5 {
  margin-top: 50px;
}

.counters {
  padding: 20px 20px;
  background-color: #4CAF50;
}

h2::before {
  counter-increment: videos;
  content: "Videos #" counter(videos) ": ";
}